// colors
$primary: #4789DF
$primaryHover: #6DADF5
$primaryActive: #8EC2F2
$dark: #212121
$darkHover: #44454B
$darkActive: #D4D4D4
// fonts
$font-family-heading: "Graphik", "Tahoma", sans-serif
$font-family-secondary: "Open Sans", "Helvetica", "sans-serif"
$primaryFont: "Graphik"
$secondaryFont: "Open Sans"
$fonts: Graphik, Tahoma, "Open Sans Serif", sans-serif
// dimensions
$borderRadius: 5px
$btnShortWidth: 75px
$btnTallWidth: 120px
$btnGrandeWidth: 198px